# FastAPI и зависимости
fastapi==0.115.0
uvicorn==0.30.0
pydantic==2.11.9

# Модель и зависимости для локальной генерации (LLM)
# Если хотите ускорить генерацию с GPU через библиотеки llama-cpp,
# вам может потребоваться установить дополнительные версии
llama-cpp-python==0.3.2

# HTTP-клиент для внешних API
requests==2.32.5
urllib3

# Загрузка переменных окружения
python-dotenv==1.0.0

# Работа с изображениями
Pillow==11.2.1

# Данные из картинок
wikipedia==1.4.0
google-images-search==1.4.7

# Поддержка Windows (для разработки, на Linux-сервере не повлияет)
windows-curses; sys_platform == 'win32'
